<table mat-table [dataSource]="userList" class="mat-elevation-z8" class="table-user">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element let i= index"> {{i+1}} id{{element.userId}}</td>

    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>
    <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let element"> {{element.userGender}} </td>
    </ng-container>
    <ng-container matColumnDef="City">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let element"> {{element.userCity}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef>Address </th>
        <td mat-cell *matCellDef="let element"> {{element.userAddress}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
    </ng-container>
    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button title="edit data" color="primary" [routerLink]="['/upadte',element.userId]">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button title="delete data" color="warn" (click)="viewData(element.userId)">
                <mat-icon color="red">View</mat-icon>
            </button>
            <button mat-icon-button title="delete data" color="warn" (click)="delete(element.userId)"
                id="{element.userId}">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>